# macOS
.DS_Store

# Rider
.idea/
*.sln.iml

# VS
.vs/
*.user
*.suo

# Build
bin/
obj/

# Logs
logs/
*.log

# Environment
.env
.env.*

# ASP.NET User Secrets
secrets.json
**/secrets.json

# Publish
publish/
artifacts/